.snakemake
.vscode
/workflow/.snakemake
/results
slurm*
=2
/benchmarks/*
/databases/
/logs/
__pycache__/
config.yaml
samples.tsv
/Test_set/
/slurm_output/
./finished_assembly
./finished_taxonomy
./finished_virus_identification
./finished_qc
virmake