{
  "search_databases": {
    "kegg": null,
    "kofam_hmm": "/cluster/projects/nn9383k/simonnb/DRAM/DRAM_data/kofam_profiles.hmm",
    "kofam_ko_list": "/cluster/projects/nn9383k/simonnb/DRAM/DRAM_data/kofam_ko_list.tsv",
    "uniref": null,
    "pfam": "/cluster/projects/nn9383k/simonnb/DRAM/DRAM_data/pfam.mmspro",
    "dbcan": "/cluster/projects/nn9383k/simonnb/DRAM/DRAM_data/dbCAN-HMMdb-V11.txt",
    "viral": "/cluster/projects/nn9383k/simonnb/DRAM/DRAM_data/refseq_viral.20221208.mmsdb",
    "peptidase": "/cluster/projects/nn9383k/simonnb/DRAM/DRAM_data/peptidases.20221208.mmsdb",
    "vogdb": "/cluster/projects/nn9383k/simonnb/DRAM/DRAM_data/vog_latest_hmms.txt"
  },
  "database_descriptions": {
    "pfam_hmm": "/cluster/projects/nn9383k/simonnb/DRAM/DRAM_data/Pfam-A.hmm.dat.gz",
    "dbcan_fam_activities": "/cluster/projects/nn9383k/simonnb/DRAM/DRAM_data/CAZyDB.08062022.fam-activities.txt",
    "dbcan_subfam_ec": "/cluster/projects/nn9383k/simonnb/DRAM/DRAM_data/CAZyDB.08062022.fam.subfam.ec.txt",
    "vog_annotations": "/cluster/projects/nn9383k/simonnb/DRAM/DRAM_data/vog_annotations_latest.tsv.gz"
  },
  "dram_sheets": {
    "genome_summary_form": "/cluster/projects/nn9383k/simonnb/DRAM/DRAM_data/genome_summary_form.20221208.tsv",
    "module_step_form": "/cluster/projects/nn9383k/simonnb/DRAM/DRAM_data/module_step_form.20221208.tsv",
    "etc_module_database": "/cluster/projects/nn9383k/simonnb/DRAM/DRAM_data/etc_mdoule_database.20221208.tsv",
    "function_heatmap_form": "/cluster/projects/nn9383k/simonnb/DRAM/DRAM_data/function_heatmap_form.20221208.tsv",
    "amg_database": "/cluster/projects/nn9383k/simonnb/DRAM/DRAM_data/amg_database.20221208.tsv"
  },
  "dram_version": "1.4.1",
  "description_db": "/cluster/projects/nn9383k/simonnb/DRAM/DRAM_data/description_db.sqlite",
  "setup_info": {
    "kofam_hmm": {
      "name": "KOfam db",
      "citation": "T. Aramaki, R. Blanc-Mathieu, H. Endo, K. Ohkubo, M. Kanehisa, S. Goto, and H. Ogata, \"Kofamkoala: Kegg ortholog assignment based on profile hmm and adaptive score threshold,\" Bioinformatics, vol. 36, no. 7, pp. 2251\u20132252, 2020.",
      "Download time": "12/08/2022, 14:49:57",
      "Origin": "Downloaded by DRAM"
    },
    "kofam_ko_list": {
      "name": "KOfam KO list",
      "citation": "T. Aramaki, R. Blanc-Mathieu, H. Endo, K. Ohkubo, M. Kanehisa, S. Goto, and H. Ogata, \"Kofamkoala: Kegg ortholog assignment based on profile hmm and adaptive score threshold,\" Bioinformatics, vol. 36, no. 7, pp. 2251\u20132252, 2020.",
      "Download time": "12/08/2022, 14:50:00",
      "Origin": "Downloaded by DRAM"
    },
    "pfam": {
      "name": "Pfam db",
      "citation": "J. Mistry, S. Chuguransky, L. Williams, M. Qureshi, G. A. Salazar, E. L. Sonnhammer, S. C. Tosatto, L. Paladin, S. Raj, L. J. Richardson et al., \"Pfam: The protein families database in 2021,\" Nucleic acids research, vol. 49, no. D1, pp. D412\u2013D419, 2021.",
      "Download time": "12/08/2022, 14:53:19",
      "Origin": "Downloaded by DRAM",
      "description_db_updated": "12/08/2022, 15:47:47"
    },
    "pfam_hmm": {
      "name": "Pfam hmm dat",
      "description_db_updated": "Unknown, or Never",
      "citation": "J. Mistry, S. Chuguransky, L. Williams, M. Qureshi, G. A. Salazar, E. L. Sonnhammer, S. C. Tosatto, L. Paladin, S. Raj, L. J. Richardson et al., \"Pfam: The protein families database in 2021,\" Nucleic acids research, vol. 49, no. D1, pp. D412\u2013D419, 2021.",
      "Download time": "12/08/2022, 14:53:20",
      "Origin": "Downloaded by DRAM"
    },
    "dbcan": {
      "name": "dbCAN db",
      "citation": "Y. Yin, X. Mao, J. Yang, X. Chen, F. Mao, and Y. Xu, \"dbcan: a web resource for automated carbohydrate-active enzyme annotation,\" Nucleic acids research, vol. 40, no. W1, pp. W445\u2013W451, 2012.",
      "version": "11",
      "Download time": "12/08/2022, 14:53:26",
      "Origin": "Downloaded by DRAM",
      "description_db_updated": "12/08/2022, 15:47:48"
    },
    "dbcan_fam_activities": {
      "name": "dbCAN family activities",
      "citation": "Y. Yin, X. Mao, J. Yang, X. Chen, F. Mao, and Y. Xu, \"dbcan: a web resource for automated carbohydrate-active enzyme annotation,\" Nucleic acids research, vol. 40, no. W1, pp. W445\u2013W451, 2012.",
      "version": "11",
      "upload_date": "08062022",
      "Download time": "12/08/2022, 14:53:27",
      "Origin": "Downloaded by DRAM"
    },
    "dbcan_subfam_ec": {
      "name": "dbCAN subfamily EC numbers",
      "citation": "Y. Yin, X. Mao, J. Yang, X. Chen, F. Mao, and Y. Xu, \"dbcan: a web resource for automated carbohydrate-active enzyme annotation,\" Nucleic acids research, vol. 40, no. W1, pp. W445\u2013W451, 2012.",
      "version": "11",
      "upload_date": "08062022",
      "Download time": "12/08/2022, 14:53:28",
      "Origin": "Downloaded by DRAM"
    },
    "vogdb": {
      "name": "VOGDB db",
      "citation": "J. Thannesberger, H.-J. Hellinger, I. Klymiuk, M.-T. Kastner, F. J. Rieder, M. Schneider, S. Fister, T. Lion, K. Kosulin, J. Laengle et al., \"Viruses comprise an extensive pool of mobile genetic elements in eukaryote cell cultures and human clinical samples,\" The FASEB Journal, vol. 31, no. 5, pp. 1987\u20132000, 2017.",
      "version": "latest",
      "Download time": "12/08/2022, 14:53:37",
      "Origin": "Downloaded by DRAM",
      "description_db_updated": "12/08/2022, 15:47:50"
    },
    "vog_annotations": {
      "name": "VOG annotations",
      "description_db_updated": "Unknown, or Never",
      "citation": "J. Thannesberger, H.-J. Hellinger, I. Klymiuk, M.-T. Kastner, F. J. Rieder, M. Schneider, S. Fister, T. Lion, K. Kosulin, J. Laengle et al., \"Viruses comprise an extensive pool of mobile genetic elements in eukaryote cell cultures and human clinical samples,\" The FASEB Journal, vol. 31, no. 5, pp. 1987\u20132000, 2017.",
      "version": "latest",
      "Download time": "12/08/2022, 14:53:37",
      "Origin": "Downloaded by DRAM"
    },
    "viral": {
      "name": "RefSeq Viral db",
      "description_db_updated": "12/08/2022, 15:46:59",
      "citation": "J. R. Brister, D. Ako-Adjei, Y. Bao, and O. Blinkova, \"Ncbi viral genomes resource,\" Nucleic acids research, vol. 43, no. D1, pp. D571\u2013D577, 2015. [3] M. Kanehisa, M. Furumichi, Y. Sato, M. Ishiguro-Watanabe, and M. Tan-abe, \"Kegg: integrating viruses and cellular organisms,\" Nucleic acids research, vol. 49, no. D1, pp. D545\u2013D551, 2021.",
      "viral_files": 2,
      "Download time": "12/08/2022, 14:53:43",
      "Origin": "Downloaded by DRAM"
    },
    "peptidase": {
      "name": "MEROPS peptidase db",
      "description_db_updated": "12/08/2022, 15:47:47",
      "citation": "N. D. Rawlings, A. J. Barrett, P. D. Thomas, X. Huang, A. Bateman, and R. D. Finn, \"The merops database of proteolytic enzymes, their substrates and inhibitors in 2017 and a comparison with peptidases in the panther database,\" Nucleic acids research, vol. 46, no. D1, pp. D624\u2013D632, 2018.",
      "Download time": "12/08/2022, 14:53:53",
      "Origin": "Downloaded by DRAM"
    },
    "genome_summary_form": {
      "name": "Genome summary form",
      "branch": "master",
      "Download time": "12/08/2022, 14:53:53",
      "Origin": "Downloaded by DRAM"
    },
    "module_step_form": {
      "name": "Module step form",
      "branch": "master",
      "Download time": "12/08/2022, 14:53:54",
      "Origin": "Downloaded by DRAM"
    },
    "function_heatmap_form": {
      "name": "Function heatmap form",
      "branch": "master",
      "Download time": "12/08/2022, 14:53:54",
      "Origin": "Downloaded by DRAM"
    },
    "amg_database": {
      "name": "AMG database",
      "branch": "master",
      "Download time": "12/08/2022, 14:53:54",
      "Origin": "Downloaded by DRAM"
    },
    "etc_module_database": {
      "name": "ETC module database",
      "branch": "master",
      "Download time": "12/08/2022, 14:53:55",
      "Origin": "Downloaded by DRAM"
    }
  },
  "log_path": null
}